{%  extends "inicio/encabezado.html" %}

{% block titulo%}
PRINCIPAL
{%endblock%}

{%block imagen%}
    {%load static%}
    {%static 'inicio/img/home.png'%}
{%endblock%}

{%block mensaje%}
    Principal -DSM-
{%endblock%}

{%block encabezado%}
<div class="page-header">
    <div class="page-title">
        <h3>Alumnos
        <small>Lista de Alumnos 9A</small></h3>
    </div>

    
</div>
<!-- /Encabezado-->
{%endblock%}

{% block contenido %}
<!-- Contenido Principal-->
    <div>
        <table class="table table-bordered table-dark" description="">
            <caption>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Mensaje</th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>

            <tbody>
                {%for comentario in comentarios%}
                <tr>
                    <td class="text-semibold">{{comentario.usuario}}</td>
                    <td class="muted">{{comentario.mensaje}}</td>
                    <td class="muted text-center"><button class="btn btn-primary btn-lg"><a href="{%url 'Consulta' comentario.id%}">Edit</button></td>
                    <td class="muted text-center text-dark"><a href="{%url 'Eliminar' comentario.id%}">Eliminar</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table> 
    </div>

    <!--Encabezdo -->


<!-- /Contenido Principal-->
{% endblock %}